<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.leszczenko.doctormyasnikov">

    <permission
        android:name="pl.leszczenko.doctormyasnikov.permission.ACCESS_DOWNLOAD_MANAGER"
        android:description="@string/permdesc_downloadManager"
        android:label="@string/permlab_downloadManager"
        android:protectionLevel="normal" />

    <!-- Allows advanced access to the Download Manager -->
    <permission
        android:name="pl.leszczenko.doctormyasnikov.permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED"
        android:description="@string/permdesc_downloadManagerAdvanced"
        android:label="@string/permlab_downloadManagerAdvanced"
        android:protectionLevel="normal" />

    <!-- Allows to send broadcasts on download completion -->
    <permission
        android:name="pl.leszczenko.doctormyasnikov.permission.SEND_DOWNLOAD_COMPLETED_INTENTS"
        android:description="@string/permdesc_downloadCompletedIntent"
        android:label="@string/permlab_downloadCompletedIntent"
        android:protectionLevel="normal" />



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="pl.leszczenko.doctormyasnikov.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="pl.leszczenko.doctormyasnikov.ACCESS_DOWNLOAD_MANAGER_ADVANCED" />
    <uses-permission android:name="pl.leszczenko.doctormyasnikov.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="pl.leszczenko.doctormyasnikov.providers.downloads.DownloadProvider"
            android:authorities="com.mozillaonline.downloads" />

        <service android:name="pl.leszczenko.doctormyasnikov.providers.downloads.DownloadService" />

        <receiver
            android:name="pl.leszczenko.doctormyasnikov.providers.downloads.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
